body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 5px;

&::before {
     content: '';
     position: absolute;
     z-index: -2;
     left: -50%;
     top: -50%;
     width: 200%;
     height: 200%;
 // background-color: #399953;
     background-repeat: no-repeat;
     background-size: 50% 50%, 50% 50%;
     background-position: 0 0, 100% 0, 100% 100%, 0 100%;
     background-image:
             linear-gradient(-135deg, rgb(57, 153, 83), rgba(57, 153, 83, 0) 77%),
             linear-gradient(-45deg, rgb(251, 251, 0), rgba(251, 179, 0, 0) 77%),
             linear-gradient(45deg, rgb(213, 62, 51), rgba(213, 62, 51, 0) 77%),
             linear-gradient(135deg, rgb(55, 122, 245), rgba(55, 122, 245, 0) 77%);
     animation: rotate 4s linear infinite;
 }

&::after {
     content: '';
     position: absolute;
     z-index: -1;
     left: 6px;
     top: 6px;
     width: calc(100% - 12px);
     height: calc(100% - 12px);
 }
}









https://codepen.io/Chester/pen/QPoyjN














body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}
.rainbow {
    position: relative;
    z-index: 0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    padding: 5px;
}
.rainbow::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(-135deg, #399953, rgba(57, 153, 83, 0) 77%), linear-gradient(-45deg, #fbfb00, rgba(251, 179, 0, 0) 77%), linear-gradient(45deg, #d53e33, rgba(213, 62, 51, 0) 77%), linear-gradient(135deg, #377af5, rgba(55, 122, 245, 0) 77%);
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}
.rainbow::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
}