<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <title>Battle Ships Guide</title>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" type="application/javascript"></script>
        <script src="vue.js" type="application/javascript"></script>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body class="text" bgcolor="#000">
        <div id="app-6">
            <div class="header">
                <div>
                    <img src="./images/FirstShip.svg" width="100px" height="100px" alt="">
                </div>
                <div style="align-self: center">
                    <h1 class="battleships-word ny">
                        Battleships
                    </h1>
                </div>
                <div>
                    <img src="./images/MegaLogoShip.svg" width="100px" height="100px" alt="">
                </div>
            </div>
            <div class="d-flex">
                <div class="left-block">
                    <div class="search-configuration">
                            <div v-on:click="focusSearch" class="search-block">
                                <div class="ny search-word">
                                    Search:
                                </div>
                                <input id="search-input" v-model="search" placeholder="Type e.g. &#171;cannon&#187;"/>
                                <div v-on:click="clearSearch" class="ny clear-word" v-bind:class="{ hidden: !search }">
                                    Clear
                                </div>
                            </div>
                            <div class="reforged-block">
                                <label style="display: inherit;">
                                    <input type="checkbox" class="reforged-checkbox" v-model="reforged" />
                                    <div class="ny reforged-word">
                                        Reforged icons
                                    </div>
                                </label>
                            </div>
                    </div>
                    <div v-for="(shop, shopNumber) in shops">
                        <div class="b-shadowed shop-container">
                            <p class="shop-title">{{ shop.title }}</p>
                            <div class="shop-images-container">
                                <div v-for="row in _.chunk(shop.items, 4)"
                                     style="display: flex; justify-content: space-between;">
                                    <div style="position: relative" v-for="(itemData, itemNumber) in row">
                                        <div class="for-big-image">
                                            <div class="img-container">
                                                <img
                                                        v-if="!reforged"
                                                        v-on:click="select"
                                                        class="content no-select"
                                                        :src="'images/' +  (reforged ? 'R' : '') + itemData.img + '.' + (itemData.isJpg || shopNumber > 1 ? 'jpg' : 'png')"
                                                        alt=""
                                                        width="60px"
                                                        height="60px"
                                                        :alt="itemData.name"
                                                        draggable="false"
                                                >
                                                <img
                                                        v-if="reforged"
                                                        v-on:click="select"
                                                        class="content no-select"
                                                        :src="'images/R' + itemData.img + '.png'"
                                                        alt=""
                                                        width="60px"
                                                        height="60px"
                                                        :alt="itemData.name"
                                                        draggable="false"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-shadowed current-selected-item">
                    <div style="width: 300px;padding-left: 35px;">
                        <span v-if="selectedItem" class="ny">Selected item: </span>
                        {{ selectedItem }}
                    </div>
                </div>
            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>