.border-1 {
    border: 1px outset #FFC884;
    padding: 4px;
}
.with-founded {
    height: 242px;
    margin-left: 5px;
    margin-top: 13px;
}
.with-founded * > div.for-big-image {
    /*padding-left: 0;*/
    width: 80px;
}
.doubled-item-container {
    position: absolute;
    top: -7px;
    right: 0;
    z-index: 100;
    opacity: 0.8;
}
.doubled-item {
    width: 40px;
    height: 40px;
}